
useDynLib(ks)

export(Hamise.mixt, Hmise.mixt, Hmise.mixt.diag, Hamise.mixt.diag, hamise.mixt, hmise.mixt)
export(Hbcv, Hbcv.diag)
export(Hlscv, Hlscv.diag, hlscv)
export(Hpi, Hpi.diag, hpi, Hpi.kfe)
export(Hscv, Hscv.diag, hscv)
export(amise.mixt, ise.mixt, mise.mixt)
export(binning, dfltCounts)
export(compare, compare.kda.cv, compare.kda.diag.cv)
export(contourLevels)
export(drvkde)
export(dnorm.mixt, rnorm.mixt)
export(dmvnorm.mixt, rmvnorm.mixt)
export(dmvt.mixt, rmvt.mixt)
export(kda, Hkda, Hkda.diag, hkda, kda.kde)
export(kde)
export(kde.test)
export(kdde)
export(kfe)
export(dkde, pkde, qkde, rkde)
export(plotmixt)
export(pre.scale, pre.sphere)
export(vec, vech)
export(invvec, invvech)
export(Sdr)

S3method(plot, kde)
S3method(plot, kda.kde)
S3method(contourLevels, kde)
S3method(contourLevels, kda.kde)

