import(KernSmooth)
import(mvtnorm)
import(misc3d)
import(rgl)

useDynLib(ks)

export(Hamise.mixt, Hamise.mixt.diag, hamise.mixt)
export(Hmise.mixt, Hmise.mixt.diag, hmise.mixt)
export(Hns, hns, Hns.kcde, hns.kcde)
export(Hbcv, Hbcv.diag)
export(Hlscv, Hlscv.diag, hlscv)
export(Hkda, Hkda.diag, hkda)
export(Hpi, Hpi.diag, hpi)
export(Hpi.kcde, Hpi.diag.kcde, hpi.kcde)
export(Hpi.kfe, Hpi.diag.kfe, hpi.kfe)
export(Hscv, Hscv.diag, hscv)
export(amise.mixt, ise.mixt, mise.mixt)
export(binning, dfltCounts)
export(compare, compare.kda.cv, compare.kda.diag.cv)
export(contourLevels, contourSizes)
export(dkde, pkde, qkde, rkde)
export(dnorm.mixt, rnorm.mixt)
export(dmvnorm.mixt, rmvnorm.mixt)
export(dmvt.mixt, rmvt.mixt)
export(drvkde)
export(kcde)
export(kcopula, kcopula.de)
export(kda)
export(kde)
export(kde.boundary)
export(kde.local.test)
export(kde.test)
export(kdde)
export(kfe)
export(kroc)
export(matrix.sqrt)
export(plotmixt)
export(pre.scale, pre.sphere)
export(Sdr, Sdrv, mur, nur, nurs, Qr)
export(vec, vech, invvec, invvech)


S3method(contourLevels, kda)
S3method(contourLevels, kde)
S3method(contourLevels, kdde)
S3method(plot, kcde)
S3method(plot, kcopula)
S3method(plot, kcopula.de)
S3method(plot, kda)
S3method(plot, kde)
S3method(plot, kde.loctest)
S3method(plot, kdde)
S3method(plot, kroc)
S3method(predict, kde)
S3method(predict, kcde)
S3method(predict, kcopula)
S3method(predict, kcopula.de)
S3method(predict, kdde)
S3method(predict, kroc)
S3method(summary, kroc)
