
useDynLib(ks)

export(Hamise.mixt, Hmise.mixt, hamise.mixt, hmise.mixt)
export(Hbcv, Hbcv.diag)
export(Hlscv, Hlscv.diag)
export(Hpi, Hpi.diag, hpi)
export(Hscv, Hscv.diag)
export(amise.mixt, ise.mixt, mise.mixt, ise.diff)
export(binning)
export(compare, compare.kda.cv, compare.kda.diag.cv)
export(contourLevels)
export(drvkde)
export(dnorm.mixt, rnorm.mixt)
export(dmvnorm.mixt, rmvnorm.mixt)
export(dmvt.mixt, rmvt.mixt)
export(kda, Hkda, Hkda.diag, hkda, kda.kde)
export(kde)
export(dkde, pkde, qkde, rkde)
export(plotmixt)
export(pre.scale, pre.sphere)
export(vec, vech)
export(invvec, invvech)
export(Sdr)

S3method(plot, kde)
S3method(plot, kda.kde)
S3method(contourLevels, kde)
S3method(contourLevels, kda.kde)

